@import 'src/style/variables.scss';

.heading {
  font-weight: $font-weight-bold;
  margin: 0;
  &types {
    &display {
      font-size: $font-size-display;
    }
    &h1 {
      font-size: $font-size-h1;
    }
    &h2 {
      font-size: $font-size-h2;
    }
    &h3 {
      font-size: $font-size-h3;
    }
    &h4 {
      font-size: $font-size-h4;
    }
    &h5 {
      font-size: $font-size-h5;
    }
    &h6 {
      font-size: $font-size-h6;
    }
  }
}
