/* FONT SIZES */

// Default = 16px;

$font-size-display: 4em; // 64px
$font-size-h1: 2.5em; // 40px
$font-size-h2: 1.5em; // 24px
$font-size-h3: 1.17em; // 18px
$font-size-h4: 1em; // 16px
$font-size-h5: .83em; // 13.28 px
$font-size-h6: .67em; // 10.72px