@import 'src/style/variables.scss';

@mixin svgFill($iconColor) {
  > svg {
    fill: $iconColor;
  }
}

.icon {
  &,
  > svg {
    height: 30px;
    width: 30px;
  }

  // Greyscale
  &greyscaleColor1 {
    @include svgFill($grayscale-palette-1);
  }
  &greyscaleColor2 {
    @include svgFill($grayscale-palette-2);
  }
  &greyscaleColor3 {
    @include svgFill($grayscale-palette-3);
  }
  &greyscaleColor4 {
    @include svgFill($grayscale-palette-4);
  }
  &greyscaleColor5 {
    @include svgFill($grayscale-palette-5);
  }

  // B / W
  &black {
    @include svgFill($black);
  }
  &white {
    @include svgFill($white);
  }

  // Custom
  &linkedinBlue {
    @include svgFill($linkedin-blue);
  }
}