@import '@jonnypickardjs/theme/variables.scss';

.projectCardList {
  display: flex;
  flex-direction: column;

  @media #{$width-tablet} {
    flex-direction: row;
  }
  
  // Cards are only responsible for spacing between cards
  &Card {
    display: block;
    margin-bottom: 20px;
    &:last-of-type, {
      margin-bottom: 0;
    }
    @media #{$width-tablet} {
      max-width: 260px;
      margin: 0 40px 0 0;
      &:last-of-type, {
        margin-right: 0;
      }
    }
  }
}