@import 'src/style/variables.scss';

// This gets used in _pickBackgroundColor.scss
@mixin pickBackgroundColor($iconColor) {
  background: $iconColor;
}

.tableSimple {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 7px 0 $box-shadow-light;
  border-radius: 5px;
  background: $white;
  margin: 10px;
  
  &Cells {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 25px 20px;
  }
  
  &Cell {
    padding: 10px;
    text-align: center;
    margin: 1px;
    width: 100%;
    @media #{$width-desktop} {
      width: 200px; 
    }
  }

  &Key {
    margin: 15px 25px 20px;
    > * {
      margin-bottom: 10px;
    }
    
    > div:last-of-type {
      margin-bottom: 0px;
    }
  }

  &backgroundColors {
    @import 'src/style/colors/_pickBackgroundColor.scss';
  }
}
