@import 'src/style/variables.scss';

.heroSection {
  display: flex;

  &ProfilePhoto {
    margin-right: 40px
  }
  
  &TitlesAndLinks {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    > div {
      flex: 1;
      & > * {
        height: 46px;
        display: flex;
        align-items: center;
      }
    }
  }

  &Titles {
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

    > h1 {
      margin-bottom: 20px;
    }
  }

  &Links {
    // First Link (IconCaption- Linkedin)
    > a:first-of-type {
      margin-bottom: 20px;
    }
  }

}
