@import 'src/style/variables.scss';

.heroSection {
  display: flex;

  // Profile Photo
  > div:first-of-type {
    margin-right: 40px
  }

  &TitlesAndLinks {
    display: flex;
    flex-direction: row;
  }
}
