@import '@jonnypickardjs/theme/variables.scss';

// This gets used in _pickColor.scss
@mixin pickColor($iconColor) {
  > svg {
    fill: $iconColor;
  }
}

// This gets used in _pickBackgroundColor.scss
@mixin pickBackgroundColor($iconColor) {
  background: $iconColor;
}

@mixin setIconSize($icon-size) {
  > svg {
    width: $icon-size;
    height: $icon-size;
  }
}

.icon {
  &sizes {
    &xs {
      @include setIconSize($icon-size-xs)
    }
    &sm {
      @include setIconSize($icon-size-sm)
    }
    &md {
      @include setIconSize($icon-size-md)
    }
    &lg {
      @include setIconSize($icon-size-lg)
    }
    &xlg {
      @include setIconSize($icon-size-xlg)
    }
  }
  &colors {
    @import '@jonnypickardjs/theme/colors/_pickColor.scss';
  }
  &backgroundColors {
    @import '@jonnypickardjs/theme/colors/_pickBackgroundColor.scss';
  }
  &backgroundBorderRadius {
    border-radius: 5px;
  }
}