@import 'src/style/variables.scss';

@mixin pickColor($iconColor) {
  > svg {
    fill: $iconColor;
  }
}

@mixin setIconSize($icon-size) {
  > svg {
    width: $icon-size;
    height: $icon-size;
  }
}

.icon {
  &sizes {
    &xs {
      @include setIconSize($icon-size-xs)
    }
    &sm {
      @include setIconSize($icon-size-sm)
    }
    &md {
      @include setIconSize($icon-size-md)
    }
    &lg {
      @include setIconSize($icon-size-lg)
    }
    &xlg {
      @include setIconSize($icon-size-xlg)
    }
  }
  &colors {
    @import 'src/style/colors/_pickColor.scss';
  }
}