@import '@jonnypickardjs/theme/variables.scss';

.navbar {
  display: flex;
  height: 60px;
  box-shadow: 0 2px 7px 0 $box-shadow-light;
  align-items: center;
  justify-content: center;
  
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1440px;
  }
  
  &LeftSection { 
    > div:first-of-type {
      display: none;
      @media #{$width-desktop} {
        display: block;
      }
    }
    // Hide the github icon - desktop
    > a {
      @media #{$width-desktop} {
        display: none;
      }
    }
  }

  &Title {
    @media #{$width-desktop} {
      font-size: $font-size-h2;
    }
  }

  &RightSection { 
    display: flex;
    // Hide the github icon - mobile
    > a:first-of-type {
      display: none;
      @media #{$width-desktop} {
        margin-right: 40px;
        display: block;
      }
    }
  }
}
