@import 'src/style/variables.scss';

@mixin setPhotoSize($proPhotoSize) {
  height: $proPhotoSize;
  width: $proPhotoSize;
}

.profilePhoto {
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &sizes {
    &xs {
      @include setPhotoSize($profile-photo-size-xs)
    }
    &sm {
      @include setPhotoSize($profile-photo-size-sm)
    }
    &md {
      @include setPhotoSize($profile-photo-size-md)
    }
    &lg {
      @include setPhotoSize($profile-photo-size-lg)
    }
    &xlg {
      @include setPhotoSize($profile-photo-size-xlg)
    }
  }

  > img {
    width: 100%;
    height: 100%;
  }
}
