@import '@jonnypickardjs/theme/variables.scss';

@mixin pickColor($dividerColor) {
  background-color: $dividerColor
}

.divider {
  border: none;
  &horizontal {
    width: 100%;
    &xs {
      height: 1px;
    }
    &sm {
      height: 2px;
    }
    &md {
      height: 4px;
    }
  }
  &vertical {
    display: inline-block;
    height: 100%;
    &xs {
      width: 1px;
    }
    &sm {
      width: 2px;
    }
    &md {
      width: 4px;
    }
  }
  &colors {
    @import '@jonnypickardjs/theme/colors/_pickColor.scss';
  }
  &withShadow {
    box-shadow: 0 2px 7px 0 $box-shadow-light;
  }
}
